#but1{position:absolute;left:850px;top:50px;border:green solid 5px;}
#but2{position:absolute;left:850px;top:100px;border:green solid 5px;}

#div1{position:absolute;left:50px;top:50px;border:green solid 5px; height:500px;width:500px;}
#par1{position:absolute;left:50px;top:10px;border:green solid 5px; height:110px;width:110px;}

#img11{position:absolute;left:10px;top:50px;border:red solid 5px; height:100px;width:100px;}
#img12{position:absolute;left:150px;top:50px;border:red solid 5px; height:100px;width:100px;}
#img13{position:absolute;left:290px;top:50px;border:red solid 5px; height:100px;width:100px;}
#img14{position:absolute;left:10px;top:200px;border:red solid 5px; height:100px;width:100px;}
#img15{position:absolute;left:150px;top:200px;border:red solid 5px; height:100px;width:100px;}
#img16{position:absolute;left:290px;top:200px;border:red solid 5px; height:100px;width:100px;}
#img17{position:absolute;left:10px;top:350px;border:red solid 5px; height:100px;width:100px;}
#img18{position:absolute;left:150px;top:350px;border:red solid 5px; height:100px;width:100px;}
#img19{position:absolute;left:290px;top:350px;border:red solid 5px; height:100px;width:100px;}
